h1::first-letter {
  font-size: 2em;
  font-style: italic;
}
p::first-line {
  background-color: yellow;
}
p::selection {
  color: rgb(89, 255, 71);
  background-color: hsl(0, 0%, 21%);
}

/* #fruit li::before {
  content: '✔️';
} */
#apple::after {
  content: '🍎';
}
#orange:after {
  content: '🟠';
}
#banana::after {
  content: '🍌';
}
#fruit li::marker {
  content: '🗸';
  color: rgb(89, 255, 71);
  font-size: 1.2em;
}
